AWSTemplateFormatVersion: "2010-09-09"
Description: "This template creates a repository"
Parameters:
  ServiceName:
    Type: String
Resources:
  TenantServiceRepository:
    Type: AWS::ECR::Repository
    Properties: 
        RepositoryName: !Sub "${ServiceName}-service"
